[Desktop Entry]
Type=Application
Name=app.py
#Exec="/bin/python3.7 /home/pi/Desktop/app.py"
Exec="bash /home/pi/Desktop/start.sh"
#Terminal=false

#[Desktop Entry]
#Name=File Manager
#Exec=pcmanfm
#Type=Application
